<div class="container-fluid" >
  <div class="row">
  <img class="col-3 my-3" src="/images/logo.JPG" alt="">
<h1 class="h1 my-3">Pro Dashboard</h1>
<p class="display-4  m-3 ">Welcome <%= name %></p>
<a class="col-1 m-3" href="/pro/logout">logout</a>
</div>
</div>