<div class="container-fluid" >
  <div class="row">
  <img class="col-3 my-3" src="/images/logo.JPG" alt="">
<h1 class="h1 my-3">Pro Dashboard</h1>
<p class="display-4  m-3 ">Hi <%= name %></p>
<a class="btn btn-link m-4" href="/pro/logout">logout</a>
</div>
</div>

<button onclick="showItems()"  class="btn btn-success" >GET STARTED</button>
<a id="resetPassword" class="btn btn-link" style="display:none" href="/pro/resetpw">Reset password</a>
<a id="updateAvailability" class="btn btn-link" style="display:none">Update availability</a>
<a id="updateLocation" class="btn btn-link" style="display:none">Update location</a>



<script>
 let showItems = ()=>
  {
document.getElementById("updateAvailability").style.display="block";
document.getElementById("resetPassword").style.display="block";
document.getElementById("updateLocation").style.display="block";
  }
</script>