
<a href=""><img class="mb-rounded my-3 d-block mx-auto col-5" id="logo" src="./images/logo.JPG" height="185" width="300"></a>
<div class="container col-6 text-center">
<a  href="/users/login"><button class="btn btn-lg btn-primary mx-1" >Login</button></a>
<a  href="/pro/becomePro"><button class="btn btn-lg btn-primary mx-1" >Become a pro</button></a>
</div>
