<link rel="stylesheet" href="css/indexStyle.css">
<img id="logo" src="./images/logo.JPG" height="185" width="300"><br>
<div class="container1">
<a href="/loginPage"><button class="buttons" >Login</button></a>
<button class="buttons" >Become a pro</button>
</div>

<footer>
    <p>Author: Irfan Alam<br>
    <a href="mailto:irfanalamt@gmail.com">irfanalamt@gmail.com</a></p>
  </footer>