<a href="/"><img class="mb-rounded my-3 d-block mx-auto" id="logo" src="/images/logo.JPG" alt="HandyMe logo"></a>
<h1 class="h3 mb-3 font-weight-normal text-center">Please sign in</h1>
<div class="container-sm col-4 text-center">
  <%- include('./partials/messages.ejs') %>
<form class="form-signin" method="POST" action="/users/login">
  <label for="email">Email</label>
<input class="form-control" type="Email" name="email"><br>
<label for="Password">Password</label>
<input class="form-control" type="password" name="password"><br>
<input class="btn btn-lg btn-primary btn-block mb-3" type="submit" value="Log In">
</form>
<a id="register" href="/users/register">New user? register</a>
</div>


