<link rel="stylesheet" href="css/loginStyle.css">
<a href="/"><img id="logo" src="./images/logo.JPG" alt="HandyMe logo"></a>
<div class="container-1">
<form method="POST" action="/register">
  <label for="email">Email</label>
<input type="Email" name="email"><br>
<label for="Password">Password</label>
<input type="password" name="password"><br>
<input class="button" type="submit" value="Register">
</form>
</div>
<a id="register" href="/loginPage">Already registered? Login</a>