*{
    font-size: large;
}
.select1 {
    width: 280px;
    height: 40px;
    border: 1px solid black;
    font-size: 18px;
    border-radius: 5px;
}
#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 5%;
    width: 300px;
    border: 3px solid #555;

  }
#register {
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
    color: blueviolet;
}
.fields {
   display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    border: 2px black solid;
 
}

button,.button{
    margin: 10px 20px;
    padding: 10px 20px;
    background-color: cyan;
    transition-duration: 0.3s;
    border-radius: 4px;
}

button:hover,.button:hover {
    background-color:greenyellow;
    color: white;
    cursor: pointer;
} 

.container-1 {
    width: 400px;
    padding: 15px 20px;
    margin: auto;
    background-color: aliceblue;
    text-align: center;
}

.container-1 label{
    display: block;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}

.container-1 input{
    padding: 8px 25px;
    margin-bottom: 10px;
}

.container-1 input:focus{
   width: 250px;
   border-color: darkblue;
}

